$primary-font : 'Roboto Slab', sans-serif;
$secondary-font : 'Roboto', sans-serif;

$transition-speed :200ms;
$gutter: 15px;
$min-width: 320px;
$head-height: 45px;
$body-color: #eaeaea;

$primary-color: #00a22E;
$primary-dark-color: #027723;
$primary-font-color: #656565;
$primary-border-color: #c4c4c4;
$primary-font-size: 14px;

$secondary-color: #007dcc;
$secondary-font-color: #888888;
$secondary-border-color: #999999;
$secondary-font-size: 12px;

$tertiary-font-color: #444444;
$tertiary-border-color: #ebebeb;

$border-radius: 3px;


$menu-width: 249px;
$menu-primary-bg-color: #fafafa;
$menu-secondary-bg-color: #f7f7f7;

$panel-bg-color: #ffffff;
$panel-width: 299px;

$hover-bg-color: #f2f8fc;
$hover-border-color: #d6e1ea;

$input-vertical-padding: 6px;
$input-horizontal-padding: 8px;

$button-vertical-padding: 6px;
$button-horizontal-padding: 8px;

$button-bg-color: #ffffff;

$image-bg-color: #fcfcfc;
$image-large-size: 90px;
$image-small-size: 50px;

$toast-height: 35px;


$fb-color: #3b5998;
$fb-dark-color: #2e487d;

$bp-one: 1023px;
$bp-two: 799px;
$bp-three: 479px;